<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 상세 조회</title>
</head>
<body>
    <div th:replace="member/header :: headerFragment"></div>
    <table>
<!--        <tr><th>ID</th><th>이름</th><th>이메일</th><th>비밀번호</th></tr>-->
<!--        <tr th:each="member : ${member}">-->
<!--            <td th:text="${member.id}"></td>-->
<!--            <td th:text="${member.name}"></td>-->
<!--            <td th:text="${member.email}"></td>-->
<!--            <td th:text="${member.password}"></td>-->
<!--        </tr>-->
        <tr><td>ID : </td><td th:text="${member.id}"></td></tr>
        <tr><td>name : </td><td th:text="${member.name}"></td></tr>
        <tr><td>email : </td><td th:text="${member.email}"></td></tr>
        <tr><td>password : </td><td th:text="${member.password}"></td></tr>
        <tr><td>가입 시간 : </td><td th:text="${member.createdTime}"></td></tr>
    </table>
</body>
</html>